<a href="https://colab.research.google.com/github/Gift-eiei/CE880_Case_Study/blob/main/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "PHURUGSA LIMBUNLOM (2311569)"
COLLABORATORS = "PHURUGSA LIMBUNLOM (2311569)"

---

---
# Welcome to CE880
### This is your week-1 : Problem 1 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a function for Pythagorean theorem, or Pythagoras' theorem. Pythagorean is a fundamental relation in Euclidean geometry among the three sides of a right triangle. It states that the area of the square whose side is the hypotenuse (the side opposite the right angle) is equal to the sum of the areas of the squares on the other two sides. This theorem can be written as an equation relating the lengths of the legs a, b and the hypotenuse c, often called the Pythagorean equation:

$a^2 + b^2 = c^2$

Please write a function (code)to calculate the length of an unknown side of a right triangle, given two sides are known.

In [13]:
import math
def myPythagorean(a,b):
    """write a function (code)to calculate the length of an unknown side
    of a right triangle, given two sides are known.
    """
    # YOUR CODE HERE
    if a == 0 or b == 0:
      return 0

    return math.sqrt(math.pow(a,2)+math.pow(b,2))

    raise NotImplementedError()

In [14]:
myPythagorean(10,14)

17.204650534085253

In [15]:
"""Check that squares returns the correct output for several inputs"""
assert myPythagorean(3,2) == 3.605551275463989
assert myPythagorean(7,3) == 7.615773105863909
assert myPythagorean(0,2) == 0

---

## Question 2:

A `trapezoid` is a quadrilateral with two sides parallel. The `trapezoid` is equivalent to the British definition of the `trapezium`. An isosceles `trapezoid` is a `trapezoid` in which the base angles are equal so

<img src="https://www.w3resource.com/w3r_images/python-math-image-exercise-3.svg"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />
     
Please write a function (code)to calculate the area of trapezoid.

In [18]:
def areaofTrap(base1, base2, height):
    """Compute the sum of the squares of numbers from 1 to n."""
    # YOUR CODE HERE
    return 0.5*(base1+base2)*height

    raise NotImplementedError()

In [19]:
areaofTrap(5, 3, 6)

24.0

In [20]:
"""Check that areaofTrap returns the correct answer for various inputs."""
assert areaofTrap(10, 10, 20) == 200.0
assert areaofTrap(5, 10, 20) == 150.0
assert areaofTrap(5, 3, 5) == 20.0

---
## Question 3:

 Write a Python program to reverse a string. Example: Sample String: `1234xyz` Expected Output: `zyx4321`

In [47]:
def reverse_string(str1):
    """Write your code here to reverse the string"""

    # YOUR CODE HERE
    list_of_string = list(str1)
    reverse_string = ""
    for i in range(len(list_of_string) - 1, -1, -1):
      reverse_string += list_of_string[i]
    return reverse_string
    raise NotImplementedError()

In [48]:
reverse_string('ChatGPT')

'TPGtahC'

In [49]:
"""Check that areaofTrap returns the correct answer for various inputs."""
assert reverse_string('Humanitarian') == 'nairatinamuH'
assert reverse_string('ChatGPT') == 'TPGtahC'
assert reverse_string('Data Science') == 'ecneicS ataD'
assert reverse_string('CE880') == '088EC'

## Question 4:
Write a Python program to print the even numbers from a given list and in ascending order.

Sample List : `[1, 2, 3, 4, 5, 6, 7, 8, 9]` Expected Result : `[2, 4, 6, 8]`

In [93]:
import numpy as np
def even_num(lst_1):
    """Write a Python program to print the even numbers from a given list and in ascending order."""
    # YOUR CODE HERE
    even = [ lst_1[i] for i in range(len(lst_1)) if lst_1[i]%2 == 0]
    even_sorted = sorted(even)
    even_sorted_uniq = list(dict.fromkeys(even_sorted))
    return even_sorted_uniq
    raise NotImplementedError()

In [94]:
even_num([2, 3, 14, 17, 8, 19, 11, 14])

[2, 8, 14]

In [95]:
assert even_num([1, 2, 3, 4, 6, 7, 8, 9]) == [2, 4, 6, 8]
assert even_num([2, 3, 4, 7, 8, 9, 11, 14]) == [2, 4, 8, 14]
assert even_num([2, 3, 14, 17, 8, 19, 11, 14]) == [2, 8, 14]

## Question 5:
Write a Python function to create and print a list where the values are square of numbers between `1` and `n`, where `n` is user defined number: Example `sqr_values(4) == [1, 4, 9, 16]`

In [98]:
def sqr_values(n):
    """Write a Python program to print the square of numbers between 1 and `n`"""
    # YOUR CODE HERE
    sqr_list = [ (i+1)*(i+1) for i in range(n)]
    return sqr_list
    raise NotImplementedError()

In [99]:
sqr_values(4)

[1, 4, 9, 16]

In [100]:
"""Check that sqr_values returns the correct answer for various inputs."""
assert sqr_values(4) == [1, 4, 9, 16]
assert sqr_values(8) == [1, 4, 9, 16, 25, 36, 49, 64]
assert sqr_values(9) == [1, 4, 9, 16, 25, 36, 49, 64, 81]
assert sqr_values(11) == [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

## Question 6:

Write a Python program to find all the duplicate characters which are similar to each other and join them.

In [160]:
def findDupChar(input):
    """Write a Python program to find all the duplicate characters which are similar to each other."""
    # YOUR CODE HERE
    input = input.replace(" ","")
    list_of_characters = list(input)
    dup = dict()
    for i in range(len(list_of_characters)):
        if dup.get(list_of_characters[i]) == None:
          dup[list_of_characters[i]] = 1
        else:
          dup[list_of_characters[i]] = dup.get(list_of_characters[i]) + 1
    print(dup)

    res = ""
    for i,(k,v) in enumerate(dup.items()):
      if v > 1:
        res += k + " "

    return res.strip()
    raise NotImplementedError()

In [161]:
findDupChar('Essex University')

{'E': 1, 's': 3, 'e': 2, 'x': 1, 'U': 1, 'n': 1, 'i': 2, 'v': 1, 'r': 1, 't': 1, 'y': 1}

's e i'

In [162]:
assert findDupChar('Happyy') == 'p y'
assert findDupChar('Essex University') == 's e i'

{'H': 1, 'a': 1, 'p': 2, 'y': 2}
{'E': 1, 's': 3, 'e': 2, 'x': 1, 'U': 1, 'n': 1, 'i': 2, 'v': 1, 'r': 1, 't': 1, 'y': 1}